<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shuashua.buss">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Configs.Application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/SplashTheme">
        <activity
            android:name=".View.Activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.AppBarOverlay">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".View.Activity.HomeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/ImageTranslucentTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.Activity.WebActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".View.Activity.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".View.Activity.RegistActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".View.Activity.UserActivity"
            android:label=""
            android:parentActivityName=".View.Activity.HomeActivity"
            android:theme="@style/SplashTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shuashua.buss.View.Activity.HomeActivity" />
        </activity>
        <activity
            android:name=".View.Activity.CardActivity"
            android:label="@string/title_activity_card"
            android:parentActivityName=".View.Activity.HomeActivity"
            android:theme="@style/SplashTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shuashua.buss.View.Activity.HomeActivity" />
        </activity>
        <activity
            android:name=".View.Activity.CreateCardActivity"
            android:label="@string/title_activity_create_card"
            android:parentActivityName=".View.Activity.HomeActivity"
            android:theme="@style/SplashTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shuashua.buss.View.Activity.HomeActivity" />
        </activity>
        <activity
            android:name=".View.Activity.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_splash"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".View.Activity.CreateShopActivity"
            android:label="@string/title_activity_create_shop"
            android:parentActivityName=".View.Activity.HomeActivity"
            android:theme="@style/SplashTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shuashua.buss.View.Activity.HomeActivity" />
        </activity>
        <activity
            android:name=".View.Activity.CityPickerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 高德地图定位 -->
        <service android:name="com.amap.api.location.APSService" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="07e4e3deba98311f4e9749f8170a9166" />
        <!-- 高德地图定位结束 -->
        <activity
            android:name=".View.Activity.ShopActivity"
            android:label="@string/title_activity_shop"
            android:parentActivityName=".View.Activity.HomeActivity"
            android:theme="@style/SplashTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shuashua.buss.View.Activity.HomeActivity" />
        </activity>
        <activity
            android:name=".View.Activity.AllCardsActivity"
            android:label="@string/title_activity_all_cards"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".View.Activity.ActivitySearch"
            android:label="@string/title_activity_activity_search"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".View.Activity.MemSearchActivity"
            android:label="@string/title_activity_cards_search"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".View.Activity.CardsListActivity"
            android:label="@string/title_activity_cards_list"
            android:theme="@style/SplashTheme" />
        <activity android:name=".View.Activity.ListActivity" />
        <activity
            android:name=".View.Activity.OrderActivity"
            android:label="@string/title_activity_order"
            android:theme="@style/SplashTheme"></activity>
    </application>

</manifest>